{% extends "base_generic.html" %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href={% url "freezer-detail" box.freezer.id %}>{{ box.freezer.name }}</a></li>
  <li class="breadcrumb-item"><a href={% url "compartment-detail" box.freezer.id box.compartment.id %}>{{ box.compartment.name }}</a></li>
  {% if box.rack %}
  <li class="breadcrumb-item"><a href={% url "rack-detail" box.freezer.id box.compartment.id box.rack.id %}>{{ box.rack.name }}</a></li>
  <li class="breadcrumb-item"><a href={% url "rackmodule-detail" box.freezer.id box.compartment.id box.rack.id box.rackmodule.id %}>{{ box.rackmodule.name }}</a></li>
  {% endif %}
  <li class="breadcrumb-item">{{ box.name }}</li>
</ol>

<p><strong>Temperature:</strong> {{ box.freezer.temperature }}°C</p>
<p>Boxes: {{ box.tube_set.count }} / {{ box.space }}</p>
<div id=box>
{{ box.comment|linebreaks }}
{% for tubes in box.sort_tubes %}
  {% for tube in tubes %}
    {% if tube == 'empty' %}
      {% if box.rack %}
        <a href=# class="btn btn-sq btn-secondary disabled"></a>
      {% else %}
        <a href=# class="btn btn-sq btn-secondary disabled"></a>
      {% endif %}
    {% else %}
      {% if tubes.box.rack %}
        <a href={% url "tube-r-detail" tube.box.freezer.id tube.box.compartment.id tube.box.rack.id tube.box.rackmodule.id tube.box.id tube.id %} class="btn btn-sq btn-secondary breakAll"><i class="fas fa-vial"></i><br/>{{ tube.name|linebreaks }}</a>
      {% else %}
        <a href={% url "tube-c-detail" tube.box.freezer.id tube.box.compartment.id tube.box.id tube.id %} class="btn btn-sq btn-secondary breakAll"><i class="fas fa-vial"></i><br/>{{ tube.name|linebreaks }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
  <br/>
{% endfor %}
</div>

<div id="list">
  <table class="table table-hover">
  <thead>
    <tr class="table-secondary">
      <th>Tube</th>
      <th>x-Value</th>
      <th>y-Value</th>
    </tr>
  </thead>
  <tbody>
    {% for tube in box.tube_set.all %}
    <tr class="table-secondary">
      <td>{{ tube.name }}</td>
      <td>{{ tube.xvalue }}</td>
      <td>{{ tube.yvalue }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<br><br>
{% if box.tube_set.count < box.space %}
{% if perms.sample.add_tube %}
  <tr class="table-secondary">
  {% if box.rack %}
    <a href={% url "tube-r-create" box.freezer.id box.compartment.id box.rack.id box.rackmodule.id box.id%} class="btn btn-outline-success"><i class="fas fa-plus-circle"></i> tube</a>
  {% else %}
    <a href={% url "tube-c-create" box.freezer.id box.compartment.id box.id%} class="btn btn-outline-success"><i class="fas fa-plus-circle"></i> tube</a>
  {% endif %}
{% endif %}
{% endif %}

<span style="float:right">
  <input type="button" id="changeButton" class="btn btn-secondary" onclick="myFunction()" value="List View"></input>
  {% if perms.sample.change_rack %}
    {% if box.rack %}
      <a href={% url "box-r-update" box.freezer.id box.compartment.id box.rack.id box.rackmodule.id box.id %} class="btn btn-outline-primary"><i class="fas fa-pencil-alt"></i> edit</a>
    {% else %}
      <a href={% url "box-c-update" box.freezer.id box.compartment.id box.id %} class="btn btn-outline-primary"><i class="fas fa-pencil-alt"></i> edit</a>
    {% endif %}
  {% endif %}
  {% if perms.sample.delete_rack %}
    {% if box.rack %}
      <a class="contact btn btn-outline-danger" href="#" data-form={% url "box-r-delete" box.freezer.id box.compartment.id box.rack.id box.rackmodule.id box.id %} title="delete"><i class="fas fa-trash-alt"></i> delete</a>
    {% else %}
      <a class="contact btn btn-outline-danger" href="#" data-form={% url "box-c-delete" box.freezer.id box.compartment.id box.id %} title="delete"><i class="fas fa-trash-alt"></i> delete</a>
    {% endif %}
  {% endif %}
</span>

<div class="modal fade" id="deleteBox" aria-hidden="true"><!-- Modal -->
</div><!-- /.modal -->

<script>

    $('#list').hide();

    function myFunction() {
      var x = document.getElementById("box");
      var y = document.getElementById("list");
      var z = document.getElementById("changeButton");
      if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";
        z.value = "List view";
      } else {
        x.style.display = "none";
        y.style.display = "block";
        z.value = "Box view";
      }
    }

    $('.contact').click(function(ev) { // for each edit contact url
        ev.preventDefault(); // prevent navigation
        var url = $(this).data("form"); // get the contact form url
        $("#deleteBox").load(url, function() { // load the url into the modal
            $(this).modal('show'); // display the modal on url load
        });
        return false; // prevent the click propagation
    });

    $('.contact-form').load('submit', function() {
        $.ajax({
            type: $(this).attr('method'),
            url: this.action,
            data: $(this).serialize(),
            context: this,
            success: function(data, status) {
                $('#deleteBox').html(data);
            }
        });
        return false;
    });
</script>
{% endblock %}
