<!DOCTYPE html>
<html lang="eng">
<head>
    {% block title %}<title>SampleFreez</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Add additional CSS in static file -->
  {% load static %}
  {% load bootstrap4 %}

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {% bootstrap_messages %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css">
  <script defer src="/static/js/fontawesome-all.js"></script>

</head>
<body>

{% block content %}
{% load widget_tweaks %}

{% if box.rack %}
<form method='post' action="{% url 'box-r-delete' box.freezer.id box.compartment.id box.rack.id box.rackmodule.id box.id %}" novalidate>
{% else %}
<form method='post' action="{% url 'box-c-delete' box.freezer.id box.compartment.id box.id %}" novalidate>
{% endif %}
  {% csrf_token %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <h2>Delete Box</h2>
        {% if perms.sample.delete_box %}
            <p>Are you sure you want to delete {{ box }}?</p>
        {% else %}
          <p>You do not have the permissions to delete {{ box }}!</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times-circle"></i> cancel</button>
        <button type="submit" action="" class="btn btn-danger"><i class="fas fa-trash-alt"></i> delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </form>
{% endblock %}
</body>
</html>
