<!DOCTYPE html>
<html lang="eng">
<head>
    {% block title %}<title>SampleFreez</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Add additional CSS in static file -->
  {% load static %}
  {% load bootstrap4 %}

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {% bootstrap_messages %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css">
  <script defer src="/static/js/fontawesome-all.js"></script>

</head>
<body>

{% block content %}
{% load widget_tweaks %}

<form method='post' action="{% url 'rackmodule-delete' rackmodule.rack.compartment.freezer.id rackmodule.rack.compartment.id rackmodule.rack.id rackmodule.id %}" novalidate>
  {% csrf_token %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <h2>Delete Rackmodule</h2>
        {% if perms.sample.delete_rackmodule %}
            <p>Are you sure you want to delete {{ rackmodule }}?</p>
        {% else %}
          <p>You do not have the permissions to delete {{ rackmodule }}!</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-outline-secondary" data-dismiss="modal" value="Cancel" />
        <input type="submit" action="" class="btn btn-danger" value="yes, delete" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </form>
{% endblock %}
</body>
</html>
