{% extends "base_generic.html" %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href={% url "freezer-detail" rackmodule.rack.compartment.freezer.id %}>{{ rackmodule.rack.compartment.freezer.name }}</a></li>
  <li class="breadcrumb-item"><a href={% url "compartment-detail" rackmodule.rack.compartment.freezer.id rackmodule.rack.compartment.id %}>{{ rackmodule.rack.compartment.name }}</a></li>
  <li class="breadcrumb-item"><a href={% url "rack-detail" rackmodule.rack.compartment.freezer.id rackmodule.rack.compartment.id rackmodule.rack.id %}>{{ rackmodule.rack.name }}</a></li>
  <li class="breadcrumb-item">{{ rackmodule.name }}</li>
</ol>

<p><strong>Temperature:</strong> {{ rackmodule.rack.compartment.freezer.temperature }}°C</p>
<p>Boxes: {{ rackmodule.box_set.count }} / {{ rackmodule.space }}</p>

<table class="table table-hover">
  <tbody>
      {% for box in rackmodule.box_set.all %}
      <tr class="table-secondary">
        <td><a href="{{ box.get_absolute_rack_url }}">{{ box.name }}</a></td>
        <td style="text-align:center; width:500px">{{ box.tube_set.count }}/{{ box.space }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% if rackmodule.box_set.count < rackmodule.space %}
  {% if perms.sample.add_box %}
    <a href={% url "box-r-create" rackmodule.rack.compartment.freezer.id rackmodule.rack.compartment.id rackmodule.rack.id rackmodule.id %} class="btn btn-outline-success"><i class="fas fa-plus-circle"></i> box</a>
    <a href={% url "upload" rackmodule.rack.compartment.freezer.id rackmodule.rack.compartment.id rackmodule.rack.id rackmodule.id %} class="btn btn-outline-success"><i class="fas fa-upload"></i> box</a>
  {% endif %}
{% endif %}

<span style="float:right">
  {% if perms.sample.change_rackmodule %}
    <a href={% url "rackmodule-update" rackmodule.rack.compartment.freezer.id rackmodule.rack.compartment.id rackmodule.rack.id rackmodule.id %} class="btn btn-outline-primary"><i class="fas fa-pencil-alt"></i> edit</a>
  {% endif %}
  {% if perms.sample.delete_rackmodule %}
      <a class="contact btn btn-outline-danger" href="#" data-form={% url "rackmodule-delete" rackmodule.rack.compartment.freezer.id rackmodule.rack.compartment.id rackmodule.rack.id rackmodule.id %} title="delete"><i class="fas fa-trash-alt"></i> delete</a>
  {% endif %}
</span>

<div class="modal fade" id="deleteRackmodule" aria-hidden="true"><!-- Modal -->
</div><!-- /.modal -->

<script>
    $('.contact').click(function(ev) { // for each edit contact url
        ev.preventDefault(); // prevent navigation
        var url = $(this).data("form"); // get the contact form url
        $("#deleteRackmodule").load(url, function() { // load the url into the modal
            $(this).modal('show'); // display the modal on url load
        });
        return false; // prevent the click propagation
    });

    $('.contact-form').live('submit', function() {
        $.ajax({
            type: $(this).attr('method'),
            url: this.action,
            data: $(this).serialize(),
            context: this,
            success: function(data, status) {
                $('#deleteRackmodule').html(data);
            }
        });
        return false;
    });
</script>
{% endblock %}
