{% extends "base_generic.html" %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href={% url "type" %}>Type</a></li>
  <li class="breadcrumb-item">{{ type.name }}</li>
</ol>
<span style="float:right">
  {% if type.code == "eu" %}
    EU colorcode: <input type:"button" class="btn btn-sq-xs disabled" style="background-color: {{ type.euColor }}; border: 3px solid black;", value=""></input>
  {% elif type.code == "us" %}
    US colorcode: <input type="button" class="btn btn-sq-xs disabled" style="background-color: {{ type.usColor }}; border: 3px solid black;", value=""></input>
  {% endif %}
</span>
<h2>{{ type.name }}</h2>

<br>
{% if type.comment %}
  {{ type.comment|linebreaks }}
{% endif %}

<span style="float:right">
  {% if perms.sample.change_type %}
    <a href={% url "type-update" type.id %} class="btn btn-outline-primary"><i class="fas fa-pencil-alt"></i> edit</a>
  {% endif %}
  {% if perms.sample.delete_type %}
    <a class="contact btn btn-outline-danger" href="#" data-form={% url "type-delete" type.id %}><i class="fas fa-trash-alt"></i> delete</a>
  {% endif %}
</span>

<div class="modal fade" id="deleteType" aria-hidden="true"><!-- Modal -->
</div><!-- /.modal -->

<script>
    $('.contact').click(function(ev) { // for each edit contact url
        ev.preventDefault(); // prevent navigation
        var url = $(this).data("form"); // get the contact form url
        $("#deleteType").load(url, function() { // load the url into the modal
            $(this).modal('show'); // display the modal on url load
        });
        return false; // prevent the click propagation
    });

    $('.contact-form').load('submit', function() {
        $.ajax({
            type: $(this).attr('method'),
            url: this.action,
            data: $(this).serialize(),
            context: this,
            success: function(data, status) {
                $('#deleteType').html(data);
            }
        });
        return false;
    });
</script>
{% endblock %}
