{% extends "modal_generic.html" %}

{% block content %}
{% load widget_tweaks %}
<form method='post' action="{% url 'compartment-delete' compartment.freezer.id compartment.id %}" novalidate>
  {% csrf_token %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <h2>Delete Compartment</h2>
        {% if perms.sample.delete_compartment %}
            <p>Are you sure you want to delete {{ compartment }}?</p>
        {% else %}
          <p>You do not have the permissions to delete {{ compartment }}!</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times-circle"></i> cancel</button>
        <button type="submit" action="" class="btn btn-danger"><i class="fas fa-trash-alt"></i> delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </form>
{% endblock %}
