{% extends "base_generic.html" %}

{% block content %}
    <table class="table table-hover">
      <thead>
        <tr class="table-secondary">
          <th><h3>Compartments</h3></th>
        </tr>
      </thead>
      <tbody>
        {% if compartment_list %}
          {% for compartment in compartment_list %}
            <tr class="table-secondary">
              <th ><a href="{{ compartment.get_absolute_url }}">{{ compartment.name }}</a></th>
              <td><a href={% url 'freezer-detail' compartment.freezer.id %}>{{ compartment.freezer.name }}</a></td>
            </tr>
          {% endfor %}
        {% endif %}
    </tbody>
  </table>

{% endblock %}
