{% extends "base_generic.html" %}

{% block content %}
    <table class="table table-hover">
      <thead>
        <tr class="table-secondary">
          <th colspan="3"><h3>Freezers</h3></th>
        </tr>
      </thead>
      <tbody>
        {% if freezer_list %}
          {% for freezer in freezer_list %}
            <tr class="table-secondary">
              <td><a href="{{ freezer.get_absolute_url }}">{{ freezer.name }}</a></td>
              <td style = "text-align:center">{{ freezer.temperature }}°C</td>
              <td style = "text-align:center" >space: {{ freezer.compartment_set.count }}/{{ freezer.space }}
            </tr>
          {% endfor %}
        {% endif %}
    </tbody>
  </table>
{% if perms.sample.add_freezer %}
  <a href={% url "freezer-create" %} class="btn btn-outline-success">Create freezer</a>
{% endif %}
{% endblock %}
