{% extends "base_generic.html" %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href={% url "freezer-detail" rack.compartment.freezer.id %}>{{ rack.compartment.freezer.name }}</a></li>
  <li class="breadcrumb-item"><a href={% url "compartment-detail" rack.compartment.freezer.id rack.compartment.id %}>{{ rack.compartment.name }}</a></li>
  <li class="breadcrumb-item">{{ rack.name }}</li>
</ol>
<p><strong>Temperature:</strong> {{ rack.compartment.freezer.temperature }}°C</p>
{% with num=rack.rackmodule_set.count %}
<p>Rackmodules: {{ num }} / {{ rack.space }}</p>
{% endwith %}
    <table class="table table-hover">
    <tbody>
      {% for rackmodules in rack.rackmodule_set.all %}
      <tr class="table-secondary">
        <td><a href="{{ rackmodules.get_absolute_url }}">{{ rackmodules.name }}</a></td>
        <td>{{ rackmodules.box_set.count }}/{{ rackmodules.space }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if perms.sample.add_tube %}
    <a href={% url "rackmodule-create" rack.compartment.freezer.id rack.compartment.id rack.id %} class="btn btn-outline-success">new rackmodule</a>
  {% endif %}

  <span style="float:right">
  {% if perms.sample.change_rack %}
    <a href={% url "rack-update" rack.compartment.freezer.id rack.compartment.id rack.id %} class="btn btn-outline-primary">update</a>
  {% endif %}
  {% if perms.sample.delete_rack %}
    <a href={% url "rack-delete" rack.compartment.freezer.id rack.compartment.id rack.id %} class="btn btn-outline-danger">delete</a>
  {% endif %}
</span>
{% endblock %}
