<!DOCTYPE html>
<html lang="eng">
<head>
    {% block title %}<title>SampleFreez</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Add additional CSS in static file -->
  {% load static %}
  {% load bootstrap4 %}

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {% bootstrap_messages %}

  {% if user.is_authenticated %}
    {% if user.theme == "cerulean" %}
      <link rel="stylesheet" href="{% static 'css/cerulean/bootstrap.css' %}">
    {% elif user.theme == "cosmo" %}
      <link rel="stylesheet" href="{% static 'css/cosmo/bootstrap.css' %}">
    {% elif user.theme == "cyborg" %}
      <link rel="stylesheet" href="{% static 'css/cyborg/bootstrap.css' %}">
    {% elif user.theme == "darkly" %}
      <link rel="stylesheet" href="{% static 'css/darkly/bootstrap.css' %}">
    {% elif user.theme == "flatly" %}
      <link rel="stylesheet" href="{% static 'css/flatly/bootstrap.css' %}">
    {% elif user.theme == "journal" %}
      <link rel="stylesheet" href="{% static 'css/journal/bootstrap.css' %}">
    {% elif user.theme == "lietra" %}
      <link rel="stylesheet" href="{% static 'css/lietra/bootstrap.css' %}">
    {% elif user.theme == "lumen" %}
      <link rel="stylesheet" href="{% static 'css/lumen/bootstrap.css' %}">
    {% elif user.theme == "lux" %}
      <link rel="stylesheet" href="{% static 'css/lux/bootstrap.css' %}">
    {% elif user.theme == "materia" %}
      <link rel="stylesheet" href="{% static 'css/materia/bootstrap.css' %}">
    {% elif user.theme == "minty" %}
      <link rel="stylesheet" href="{% static 'css/minty/bootstrap.css' %}">
    {% elif user.theme == "pulse" %}
      <link rel="stylesheet" href="{% static 'css/pulse/bootstrap.css' %}">
    {% elif user.theme == "sandstone" %}
      <link rel="stylesheet" href="{% static 'css/sandstone/bootstrap.css' %}">
    {% elif user.theme == "simplex" %}
      <link rel="stylesheet" href="{% static 'css/simplex/bootstrap.css' %}">
    {% elif user.theme == "sketchy" %}
      <link rel="stylesheet" href="{% static 'css/sketchy/bootstrap.css' %}">
    {% elif user.theme == "slate" %}
      <link rel="stylesheet" href="{% static 'css/slate/bootstrap.css' %}">
    {% elif user.theme == "solar" %}
      <link rel="stylesheet" href="{% static 'css/solar/bootstrap.css' %}">
    {% elif user.theme == "spacelab" %}
      <link rel="stylesheet" href="{% static 'css/spacelab/bootstrap.css' %}">
    {% elif user.theme == "superhero" %}
      <link rel="stylesheet" href="{% static 'css/superhero/bootstrap.css' %}">
    {% elif user.theme == "united" %}
      <link rel="stylesheet" href="{% static 'css/united/bootstrap.css' %}">
    {% else %}
      <link rel="stylesheet" href="{% static 'css/yeti/bootstrap.css' %}">
    {% endif %}
  {% else %}
    <link rel="stylesheet" href="{% static 'css/yeti/bootstrap.css' %}">
  {% endif %}
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery-ui.min.js"></script>
  <script defer src="/static/js/fontawesome-all.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body class="" style="">
<div class="conatiner">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href={% url "index" %}><i class="fas fa-snowflake"></i><i class="fas fa-vial"></i> SampleFreez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="">Studies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={% url "freezer" %}>Freezer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={% url "biosample" %}>Biosample</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={% url "type" %}>Type</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
      <span style="display:block; width:10px;"></span>
      <form class="form-inline my-2 my-lg-0" id="searchform" action="{% url 'search_list_view' %}" method="get" accept-charset="utf-8">
        <input class="form-control mr-sm-2" id="searchbox" name="q" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
      </form>
      <span style="display:block; width:10px;"></span>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{ user.get_full_name }}</a>
          <div class="dropdown-menu">
            <a href={% url "my_account" %} class="dropdown-item">My account</a>
            <a href={% url "users" %} class="dropdown-item">Users</a>
            <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
          </div>
        </li>
        {% else %}
          <li class="nav-item">
            {% if request.path != "/accounts/logout/" and request.path != "/accounts/signup/" and request.path != "/accounts/login/" %}
              <a class="nav-link" href="{% url 'login' %}?next={{request.path}}">Login</a>
            {% else %}
              <a class="nav-link" href="{% url 'login' %}?next=/sample/">Login</a>
            {% endif %}
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>

<span style="display:block; height:40px;"></span>
<div class="container">
    {% block content %}
    {% endblock %}

    {% block pagination %}
    {% if is_paginated %}
      <ul class="pagination justify-content-center" style="">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
          </li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active">
              <a class="page-link" href="#">{{ i }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">&raquo;</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
    {% endblock %}
</div>
<span style="display:block; height:40px;"></span>

</body>
</html>
