<!DOCTYPE html>
<html lang="eng">
<head>
    {% block title %}<title>SampleFreez</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Add additional CSS in static file -->
  {% load static %}
  {% load bootstrap4 %}

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {% bootstrap_messages %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery-ui.min.js"></script>
  <script defer src="/static/js/fontawesome-all.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

</head>
<body class="" style="">
<span style="display:block; height:40px;"></span>
<div class="container">
    {% block content %}
    {% endblock %}

</body>
</html>
